header {
  background: linear-gradient(45deg, #CE336F, #3D5AFF);
  color: #fff;
  padding: 2rem 4rem;
  width: 85%;
  margin: 2rem auto;
  height: 25rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

main {
  padding: 1rem;
}

form {
  width: 85%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.form-value,
.form-submit {
  width: 90%;
  display: block;
  border: none;
  margin: 0 auto;
  outline: none;
}

.form-value {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 4rem;
  font-size: 1.75rem;
  letter-spacing: 1.2px;
  padding: 1.5rem;
  transition: border 0.55s ease-in;
}

.form-value:focus {
  border: 1px solid rgb(12, 107, 55);
}

.form-submit {
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  background: rgb(12, 179, 67);
  color: #fff;
  transition: background 0.55s ease-in;
}

.form-submit:hover {
  background: rgb(12, 107, 55);
}

ul.tasks {
  font-style: none;
  margin-top: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  border-radius: 0.7rem;
  animation-name: intro-task;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.task-info {
  width: 30%;
  text-align: center;
  background: rgb(138, 46, 100);
  border-radius: 0.5rem 0 0 0.5rem;
  height: 12rem;
  position: relative;
}

.task-id {
  margin: 1rem 0;
  color: #fff;
  font-size: 2rem;
}

.date {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 1.65rem;
  color: #fff;
}

.task-name {
  width: 70%;
  text-align: center;
  font-size: 2rem;
  color: #222;
  background: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 12rem;
  padding: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.remove-btn,
.edit-btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  cursor: pointer;
}

.remove-btn {
  background: rgb(214, 9, 60);
}

.edit-btn {
  background: #3D5AFF;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.514);
  position: fixed;
  top: 0;
}

.modal {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 90%;
  background: #fff;
  display: block;
  height: 20rem;
  border-radius: 0.5rem;
}

.modal form {
  width: 100%;
  text-align: center;
}

.new-value {
  width: 90%;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  height: 3.5rem;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.modal form button {
  padding: 1rem 2.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  background: #3D5AFF;
  color: #fff;
  cursor: pointer;
}

.exit-modal {
  position: absolute;
  right: 2rem;
  top: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgb(241, 15, 72);
  cursor: pointer;
}

@keyframes intro-task {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
  .task {
    width: 45%;
  }
}

@media (min-width: 900px) {
  .task {
    width: 30%;
  }
}

@media (min-width: 1100px) {
  .task {
    width: 22%;
  }
}