@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

html {
  box-sizing: border-box;
  font-size: 10px;
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat',
  sans-serif;
  background: linear-gradient(45deg, #3BB5F7, #3D5AFF);
  background-repeat: no-repeat;
  min-height: 100%;
}